---
layout: default
---


  <div class="post">
    <header class="post-header">
      <h1 class="post-title">
        {{ page.title }}
        {% if page.cv_pdf %}
          <a
            href="{{ page.cv_pdf | absolute_url}}"
            target="_blank"
            rel="noopener noreferrer"
            class="float-right"
            ><i class="fa-solid fa-file-pdf"></i
          ></a>
        {% endif %}
      </h1>
      {% if page.description %}
        <p class="post-description">{{ page.description }}</p>
      {% endif %}
      {% if page.linkedin %}
        <p class="post-description">I regularly post updates on my <a href={{ page.linkedin }}>LinkedIn</a> profile, check it out!</p>
      {% endif %}
    </header>

  
  </div>
